#not-found{
    /* background-image: "images/notFound.jpg"; */
    /* background-image: url("..../public/images/logo.jpg");  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-color: red; */
}

/* יש בעיה עם הפאס לתמונה */