/* serach button style */
.serach {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    /* font-size: 28px; */
    /* padding: 20px; */
    /* width: 200px; */
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .serach span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .serach span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .serach:hover span {
    padding-right: 25px;
  }
  
  .serach:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* dropdown */

  .bigicon {    
    /* color:white; */
}

.mix{
    /* min-height:370px; */
}

ul.dropdown-cart{
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-color: azure;
    min-width:250px;
    border: 2px solid #343434;
    padding: 2px;
    margin: 7px;
    margin-top: 11px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
    
}
ul.dropdown-cart li .item:hover{
    /* background-color:#c3c5c5; */
    
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}   

#remove-btn{
  font-size: 12px;
}